@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.H1{
    font-size: 45px;
    color:black;
    font-family: "Abril Fatface" !important;
    font-weight: 400;
    margin: 0;
    border: none !important;
    background: transparent !important;
    width:auto !important;
    padding: 0% !important;
    border-radius: 0px !important;
    margin: 0% !important;
    text-align: center !important;
    
    
}

p {
    font-family: "Lato";
    font-weight: 500;
    font-size: 20px;
}

a {
    font-style: none;
    color: #FF5252;
    font-weight: 900;
}




.HeadMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 10% 0% 10%;

}

.HeadMenu a {
    text-decoration: none;
    font-family: "Lato";
    color: black;
    border: 3px solid rgba(255,82,82,1);
    background: transparent;
    width:75px;
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    margin: 1%;
    text-align: center;
    display: inline-block;

}




header {
    margin: -1% -0.5% -1% -1%;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #ff5252; 
    margin-top: 2%;
}

.LineAbs{
    position: absolute;
    border-left: 2px solid transparent;
    background: linear-gradient(355deg, rgba(255,205,146,1) 0%, rgba(255,82,82,1) 100%);
    height: 100%;
    top: 0;
    left: 6%;
    margin-left: -3px;
}


.paragraphImg{ 
    display: flex;
    justify-content: space-between;
    margin: 3% 13% 0% 13%; 
    align-items: center;
}



.paragraphImg img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1%;
    border-radius: 8%;
    
}

.imgButton img {
    width: 90%;
}

.imgButton {
    display: flex;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    padding-top: 1%;
    -webkit-filter: grayscale(0%);
    transition: 1s;
   

}



.imgButton :hover {

    -webkit-filter: grayscale(100%);
}

@media screen and (max-width: 900px) {
    

    .imgButton img {
        width: 60%;
        margin-top: 2%;
    }
    
    .imgButton {
        display: table-row;
        text-align: center;
        
       
    }
    .HeadMenu {
        display: table-row;
        align-items: center;
    }
    
    .Presentation {
        margin-left: 10%;
        margin-right: 10%;

    }
    .paragraphImg {
        display: table-row;
    }
    .H1 {
        border: none !important;
    }
    .HeadMenu a {
        text-decoration: none;
        font-family: "Lato";
        color: black;
        border: 3px solid rgba(255,82,82,1);
        background: transparent;
        width:75px;
        height: 20px;
        padding: 10px;
        border-radius: 8px;
        margin: 1%;
        margin-top: 5%;
        text-align: center;
    
    
    }

    
    
}




@media screen and (max-width: 500px) {

    
    
    .Presentation {
        margin-left: 10%;
        margin-right: 10%;

    }
    

    .paragraphImg {
        display: table-row;
        text-align: center;
        vertical-align: middle;

        
    }



    .H1 {
        border: none !important;
    }
    .HeadMenu a {
        text-decoration: none;
        font-family: "Lato";
        color: black;
        border: 3px solid rgba(255,82,82,1);
        background: transparent;
        width:75px;
        height: 20px;
        padding: 10px;
        border-radius: 8px;
        margin: 1%;
        margin-top: 10%;
        margin-bottom: 3%;
        text-align: center;
    
    
    }

    body .LineAbs {
        position: absolute;
        border-left: 2px solid transparent;
        background: linear-gradient(355deg, rgba(255,205,146,1) 0%, rgba(255,82,82,1) 100%);
        height: 2100px;
        top: 0;
        left: 6%;
        margin-left: -3px;
        
    }



    .imgButton img {
        width: 80%;
        margin-top: 2%;
    }
    
    .imgButton {
        display: table-row;
        text-align: center;
        
       
    }


}