.paragraph__photography{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph__photography a{
    margin-top: 2vh;
}

.carrousel__container {
    display: flex;
    justify-content: center;
}

button {
    background: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1em;
    display: flex;
    border-radius: 100px;
    border-color: #ff5252;
    border-width: 3px;
}

button .arrow {
    border: solid #ff5252;
    border-radius: 3px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    outline: none;
}

#right-btn {
    margin: auto 0 auto 8em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto 8em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

h2{
    font-size: 35px;
    font-family: 'Lato';
    /* margin-left: 14vw; */
}



@media screen and (max-width: 500px) {

    #carousel img {
        max-width: 8px;
    }
   
}