@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');






.presentation{ 
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;

}

.presentation__text {
    display: flex;
    flex-direction: column;
    
}

.presentation img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1%;
    border-radius: 8%;
    
}


.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;

}

.footer a {
    
    text-decoration: none;
    -webkit-filter: brightness(1);
}

.footer a :hover :not(span){
    -webkit-filter: brightness(0.35);
    
}

.footer__button { 
    overflow: hidden; 
    font-family: 'Lato';
    color: white;
    font-size: 20px;
    
}

.footer__button img {
    width: 100%;
}
.footer__button .caption { 
    opacity: 0; 
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.footer__button:hover .caption { 
    opacity: 1; 
    
}


@media screen and (max-width: 500px) {

    .presentation {
        flex-direction: column;
    }

    .page-header {
        flex-direction: column;
    
    }
    footer{ 
        flex-direction: column;
    }
    .page-header__nav{
        margin-top: 5vh;
    }
 
}