
body {
    margin: 0;
    padding: 0 10vw;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;

}

p {
    font-family: "Lato";
    font-weight: 500;
    font-size: 17px;
}

li {

    font-family: "Lato";
    font-weight: 500;
    font-size: 17px;

}

a {
    font-style: none;
    color: #FF5252;
    font-weight: 900;
}




.project {
    display: flex;
    gap: 5vw;
}

.project a {
    font-family: "Lato";
    font-weight: 500;
    font-size: 18px;
}


h2 {
    font-family: "Lato";
    font-size: 27px;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .page-header {
        flex-direction: column;

    }

    .page-header__nav {
        margin-top: 5vh;
    }

    .project img {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-bottom: 8vh;
    }

    .project {
        flex-direction: column;
    }

}