
body {
    margin: 0;
    padding: 0 10vw;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;

}

p {
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 17px;
}

li {

    font-family: "Satoshi";
    font-weight: 500;
    font-size: 17px;

}

a {
    font-style: none;
    color: #FF5252;
    font-weight: 900;
}
.project__btn {
    text-decoration: none;
    font-family: "Satoshi";
    font-weight: normal;
    color: #1b1b1b;
    border: 2px solid rgba(255,82,82,1);
    background: transparent;
    width:145px;
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    margin: 0;
    text-align: center;
    display: inline-block;
}

.project__btn:hover{
    background-color: #FF5252;
    color: #FFFFFF;
}

.project__btn--container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}



.project {
    display: flex;
    gap: 5vw;
}

.project a {
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 18px;
}


h2 {
    font-family: "Satoshi";
    font-size: 27px;
    font-weight: 600;
}

.projet__text--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projet__text--title a{
    text-decoration: none;
    font-family: "Satoshi";
    color: #1b1b1b;
    border: 2px solid rgba(255,82,82,1);
    background: transparent;
    width:7vw;
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}

.projet__text--title a:hover{
    background-color: #FF5252;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .page-header {
        flex-direction: column;

    }

    .page-header__nav {
        margin-top: 5vh;
    }

    .project img {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-bottom: 8vh;
    }

    .project {
        flex-direction: column;
    }

}