#UX__section{
    margin: 0 10vw 0 10vw;
}


.UX__section--title h2{
    margin-bottom: 4vh;
    margin-top: 4vh;

}
p{
    color: #1b1b1b;
    font-size: 16px;
}
h3{
    text-transform: uppercase;
    font-family: 'Satoshi';
    font-weight: bold;
    font-size: 25px;
    color: #1b1b1b;
}

.UX__section--card{
    border: solid 2px #FF5252;
    max-width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.UX__section--article-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:18px 18px 0 18px;
}

.UX__section--article-card img{
    max-width: 100%;
}

.UX__section--article-card h3{
    margin: 1vh 0 0.5vh 0;
}

.UX__section--article-card p{
    margin: 0;
}

.UX__section--card a{
    text-decoration: none;
    font-family: "Satoshi";
    color: #1b1b1b;
    border: 2px solid rgba(255,82,82,1);
    background: transparent;
    width:21px;
    height: 21px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin: 1vh 0 2vh 0;
}

.UX__section--card a:hover{
    background-color: #FF5252;
    color: #FFFFFF;
}
